.font-size-sm {
  font-size: $font-size-sm !important;
}

.font-size-lg {
  font-size: $font-size-lg !important;
}

.font-size-base {
  font-size: $font-size-base !important;
}

.icon-sm {
  font-size: $icon-font-size-sm !important;
}

.icon-default {
  font-size: $icon-font-size-base !important;
}

.icon-lg {
  font-size: $icon-font-size-lg !important;
}

.icon-xl {
  font-size: $icon-font-size-xl !important;
}

.icon-xxl {
  font-size: $icon-font-size-xxl !important;
}

.title-head {
  font-size: 40px;
}

.font-italic {
  font-style: italic;
}
