<form>
  <!-- Search/Filter Section -->
  <div class="form-group w-100">
    <input
      class="form-control"
      type="text"
      placeholder="Seach by name, email or role"
      name="searchTerm"
      [(ngModel)]="searchService.searchTerm"
    />
  </div>

  <!-- Placeholder for table while data is modified -->
  <ng-container *ngIf="searchService.loading$ | async; else actualData">
    <table class="table table-striped table-responsive-sm">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col" sortable="name" (sort)="onSort($event)">Name</th>
          <th scope="col" sortable="email" (sort)="onSort($event)">Email</th>
          <th scope="col" sortable="role" (sort)="onSort($event)">Role</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of placeholderRow">
          <td *ngFor="let col of [0,1,2,3,4]">
            <div class="ph-row">
              <div class="p-0 ph-col-8 ph-item"></div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </ng-container>

  <!-- Actual Table Content -->
  <ng-template #actualData>
    <table class="table table-responsive-sm">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col" sortable="name" (sort)="onSort($event)">Name</th>
          <th scope="col" sortable="email" (sort)="onSort($event)">Email</th>
          <th scope="col" sortable="role" (sort)="onSort($event)">Role</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr [class.bg-gray-light]="user?.selected" *ngFor="let user of users | async">
          <ng-container *ngIf="!user?.isEditable; else editableUser">
            <td scope="row">
              <div class="form-check">
                <input
                  type="checkbox"
                  class="form-check-input"
                  id="{{ user.id }}"
                  name="user-selector"
                  (change)="selectUser(user)"
                  [(ngModel)]="user.selected"
                />
              </div>
            </td>
            <td>
              <ngb-highlight
                [result]="user.name"
                [term]="searchService.searchTerm"
              ></ngb-highlight>
            </td>
            <td>
              <ngb-highlight
                [result]="user.email"
                [term]="searchService.searchTerm"
              ></ngb-highlight>
            </td>
            <td>
              <ngb-highlight
                [result]="user.role"
                [term]="searchService.searchTerm"
              ></ngb-highlight>
            </td>
            <td class="d-flex">
              <button
                class="btn btn-with-icon-only text-danger px-0"
                (click)="deleteUser(user)"
              >
                <i class="fas fa-trash-alt"></i>
              </button>
              <button
                class="btn btn-with-icon-only"
                (click)="user.isEditable = true"
              >
                <i class="fas fa-edit"></i>
              </button>
            </td>
          </ng-container>
          <ng-template #editableUser>
            <td></td>
            <td>
              <input
                class="form-control"
                type="text"
                placeholder="Name"
                name="username"
                [(ngModel)]="user.name"
              />
            </td>
            <td>
              <input
                class="form-control"
                type="email"
                placeholder="Email ID"
                name="email"
                [(ngModel)]="user.email"
              />
            </td>
            <td>
              <input
                class="form-control"
                type="text"
                placeholder="Role"
                name="role"
                [(ngModel)]="user.role"
              />
            </td>
            <td class="d-flex">
              <button
                class="btn btn-with-icon-only text-danger px-0"
                (click)="user.isEditable = false"
              >
                <i class="fas fa-times"></i>
              </button>
              <button
                class="btn btn-with-icon-only"
                (click)="saveUser(user); user.isEditable = false"
              >
                <i class="fas fa-save"></i>
              </button>
            </td>
          </ng-template>
        </tr>
      </tbody>
    </table>
  </ng-template>

  <!-- Pagination Section -->
  <div class="d-md-flex justify-content-between">
    <ngb-pagination
      [collectionSize]="totalUsers | async"
      [(page)]="searchService.page"
      [pageSize]="searchService.pageSize"
    >
    </ngb-pagination>
    <select
      class="custom-select w-auto"
      name="pageSize"
      [(ngModel)]="searchService.pageSize"
    >
      <option [ngValue]="5">5 items per page</option>
      <option [ngValue]="10">10 items per page</option>
      <option [ngValue]="50">50 items per page</option>
    </select>
  </div>
</form>
